*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  line-height: 1.2;
}

blockquote {
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

h2 {
  font-size: var(--fs-600);
}
